asgiref==3.6.0
dj-database-url==3.0.1
Django==4.2.1
django-appconf==1.1.0
django-imagekit==5.0.0
gunicorn==23.0.0
packaging==25.0
pilkit==3.0
pillow==10.2.0
psycopg==3.2.9
psycopg-binary==3.2.9
psycopg2==2.9.9
sorl-thumbnail==12.11.0
sqlparse==0.4.4
typing_extensions==4.14.1
whitenoise==6.9.0
